body{
  color: black;
  font-family: 'Montserrat', sans-serif;;
}

.navigation li{
	background: #ffffff;
	padding: 1rem;
	border: 2px solid #000000;
	margin: 0.2rem;
	display: inline-block;
	transition: all 0.3s ease-out;
	cursor: pointer;
}
.navigation > li:hover{
	background: #000;
	color: #fff;
}

.submenu li{
  display: block;
  float: none;
  color: #00ffd2;
  border: 2px solid #00ffd2;
}

text{
  color: #00ffd2;
}
